//- index.pug
doctype html
html
  head
    title COURIER
    style
      include ../static/style.css
      
  body
    nav#navbar
        ul
            div#logo
            li #[a(href="/") Home]
            li #[a(href="/book") BookOrder]
            //- li #[a(href="/update") Update Order Information]
            li #[a(href="/del") Delete Order Information]
            li #[a(href="/disp") Display Order Information]
            li #[a(href="/top") Top Books]
            li #[a(href="/aboutus") Top Books]
            li #[a(href="/") Contact Us]
            li #[a(href="/logout") Logout]
            p.username-text= username
            //- if(session.login)
            //-     li
            //-         a(href='logout') Logout 
            //- <span>{{request.session.user}}</span>
     
    section#introSection
        div EduStaff<br>
        div.small Train your staff Easily

        <div class="container">
    <h1><center>Featured Services</center></h1>
    </div>
    <section id="feature" class="section-p1 ">

    <div class="fa-box image1">
        <img src="../static/img/staff_training.jpg" alt="...">
        <h6>Online Training</h6>
    </div>
    <div class="fa-box image2">
        <img src="../static/img/train.jpg" alt="...">
        <h6>Complete Courses</h6>
    </div>
    <div class="fa-box image3">
        <img src="../static/img/training.jpg" alt="...">
        <h6>Earn Certificate</h6>
    </div>
    //- <div class="fa-box">
    //-     <img src="../static/img/staff_training.jpg" alt="...">
    //-     <h6>promotion</h6>
    //- </div>
    //- <div class="fa-box">
    //-     <img src="../static/img/staff_training.jpg" alt="...">
    //-     <h6>24/7 support</h6>
    //- </div>
    </section>

    //- section#missionSection
    //-     h2 Our Services
    //-     div.card
    //-         div.card-box
    //-             div.card-img
    //-                 img(src="/static/img/staff_training.jpg")
    //-             div.card-content
                
             
    //-         div.card-box
    //-             div.card-img
    //-                 img(src="/static/img/training.jpg")
    //-             div.card-content
    //-                 p <b></b>
            
    //-         div.card-box
    //-             div.card-img
    //-                 img(src="/static/img/train.jpg")
    //-             div.card-content
    //-                 p <b></b>

    //- //- section#sponsorsSection
    //- //-     h2 Our Sponsors
    
    footer#footer
        | Copyright &copy; 2023 Edustaff


          
    //- script 
    //-   include ../static/index.js
