<!DOCTYPE html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<title>Plus Admin</title>
	<!-- plugins:css -->
	<link rel="stylesheet" href="vendors/mdi/css/materialdesignicons.min.css">
	<link rel="stylesheet" href="vendors/flag-icon-css/css/flag-icon.min.css">
	<link rel="stylesheet" href="vendors/css/vendor.bundle.base.css">
	<!-- endinject -->
	<!-- Plugin css for this page -->
	<link rel="stylesheet" href="vendors/jquery-bar-rating/css-stars.css" />
	<link rel="stylesheet" href="vendors/font-awesome/css/font-awesome.min.css" />
	<!-- End plugin css for this page -->
	<!-- Layout styles -->
	<link rel="stylesheet" href="css/demo_2/style.css" />
	<!-- End layout styles -->
	<link rel="shortcut icon" href="images/favicon.png" />
</head>

<body>
	<div class="container-scroller">
		<!-- partial:partials/_horizontal-navbar.html -->
		<div class="horizontal-menu">
			<%- include("./partials/navbar", {'username': username, 'logged_in':logged_in}); %>
		</div>
		<!-- partial -->
		<div class="container-fluid page-body-wrapper">
			<div class="main-panel">
				<div class="content-wrapper pb-0">
					<!-- image card row starts here -->
					<div class="row">
						<div class="col-xl-12 stretch-card grid-margin">
							<div class="card">
								<div class="card-body pb-0">
									<h4 class="card-title">Receptionist Training Course</h4>
								</div>
								<div class="card-body p-0">
									<div class="table-responsive">
										<table class="table custom-table text-dark">
											<thead>
												<tr>
													<th>#</th>
													<th>Module</th>
													<th>Title</th>
													<th>Description</th>
													<th>Action</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td>
														1
													</td>
													<td>
														Module-1
													</td>
													<td>Introduction to Receptionist Duties</td>
													<td>In this module, you will learn about the basics of a receptionist role and how to provide excellent service to customers and visitors.</td>
													<td>
														<a href="/rvideos" class="btn btn-primary mr-2"> Start </a>
													</td>
												</tr>
												<tr>
													<td>
														2
													</td>
													<td>
														Module-2
													</td>
													<td>Effective Communication Skills</td>
													<td>In this module, you will learn about effective communication skills and how to use them in a receptionist role.</td>
													<td>
														<a href="" class="btn btn-primary mr-2"> Start </a>
													</td>
												</tr>
												<tr>
													<td>
														3
													</td>
													<td>
														Module-3
													</td>
													<td>Scheduling and Appointments</td>
													<td>In this module, you will learn how to schedule appointments and manage a calendar effectively.</td>
													<td>
														<a href="" class="btn btn-primary mr-2"> Start </a>
													</td>
												</tr>
												<tr>
													<td>
														4
													</td>
													<td>
														Module-4
													</td>
													<td>Handling Customer Inquiries</td>
													<td>In this module, you will learn about how to handle customer inquiries and redirect them to the appropriate person or department.</td>
													<td>
														<a href="/rvideos" class="btn btn-primary mr-2"> Start </a>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- content-wrapper ends -->
				<!-- partial:partials/_footer.html -->
				<%- include("./partials/footer"); %>
					<!-- partial -->
			</div>
			<!-- main-panel ends -->
		</div>
		<!-- page-body-wrapper ends -->
	</div>
	<!-- container-scroller -->
	<!-- plugins:js -->
	<script src="vendors/js/vendor.bundle.base.js"></script>
	<!-- endinject -->
	<!-- Plugin js for this page -->
	<script src="vendors/jquery-bar-rating/jquery.barrating.min.js"></script>
	<script src="vendors/chart.js/Chart.min.js"></script>
	<script src="vendors/flot/jquery.flot.js"></script>
	<script src="vendors/flot/jquery.flot.resize.js"></script>
	<script src="vendors/flot/jquery.flot.categories.js"></script>
	<script src="vendors/flot/jquery.flot.fillbetween.js"></script>
	<script src="vendors/flot/jquery.flot.stack.js"></script>
	<!-- End plugin js for this page -->
	<!-- inject:js -->
	<script src="js/off-canvas.js"></script>
	<script src="js/hoverable-collapse.js"></script>
	<script src="js/misc.js"></script>
	<script src="js/settings.js"></script>
	<script src="js/todolist.js"></script>
	<!-- endinject -->
	<!-- Custom js for this page -->
	<script src="js/dashboard.js"></script>
	<!-- End custom js for this page -->
</body>

</html>