doctype html
html
  head
    title Receptionist Training Course
    link(rel="stylesheet", type="text/css", href="/static/style3.css")
  body
    header
      h1 Receptionist Training Course
      nav
        ul
          li
            a(href="#") Home
          li
            a(href="#") Modules
          li
            a(href="#") Contact
          li.username-container
            p.username-text= username
    main
      section
        h2 Module 1: Introduction to Receptionist Duties
        p In this module, you will learn about the basics of a receptionist role and how to provide excellent service to customers and visitors.
        button(onclick="window.location.href='/rvideos'") Start Module
      section
        h2 Module 2: Effective Communication Skills
        p In this module, you will learn about effective communication skills and how to use them in a receptionist role.
        button Start Module
      section
        h2 Module 3: Scheduling and Appointments
        p In this module, you will learn how to schedule appointments and manage a calendar effectively.
        button Start Module
      section
        h2 Module 4: Handling Customer Inquiries
        p In this module, you will learn about how to handle customer inquiries and redirect them to the appropriate person or department.
        button Start Module
